.cont-flex {
    display: flex;
    justify-content: space-between;
    // justify-content: right;
    flex-direction: row;
    margin-right: 20px;
  }
  
  :host {
    display: block;
  }
  .must {
    color: red;
    font-weight: bold;
  }
  div div{
    text-align: right;
    margin-bottom: 2px;
  }
 #pinuim, #mishkal {
  width: 60px;
}
 
  