<div class="container">
  <div class="row">
      <span>{{title}}</span>
    <input type="button" (click)="ClickSugMesima($event)">
    <input type="textbox" OnlyNumber="true" (blur)="onSugMesimaBlur($event)" style="width:30px" [(ngModel)]="kod_sug" />
    <input type="textbox" [ngStyle]="{ 'width.px': widthTeur }"  [(ngModel)]="teur_sug" readonly="readonly" />
  </div>
</div>
<ng-template #contentSugMesimaNg let-c="close" let-d="dismiss">
  <div class="modal-header">
      <span class="text-right">יחידות</span>
  </div>
  <div class="modal-body">
      <p-table #dt [columns]="cols" [value]="lstSugeyMesima" [lazy]="true"
       dataKey="kod_sug" selectionMode="single"
          (onRowSelect)="onRowSelect($event)" [loading]="loading"  
          [totalRecords]="totalRecords" (onLazyLoad)="loadSugeyMesimaLazy($event)"
          [paginator]="true" [rows]="9">

          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th style="width:25px"></th>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                      {{col.header}}                        
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
              </tr>
              <tr>
                  <th></th>
                  <th *ngFor="let col of columns" [ngSwitch]="col.field">
                      <input *ngSwitchCase="'kod_sug'" size="5" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                      <input *ngSwitchCase="'teur_sug'" size="5" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                  </th>
              </tr>
          </ng-template>

          <ng-template pTemplate="body" let-sugMesima>
              <tr  [ngClass]="'sugMesima'" (click)="onRowSelect(sugMesima)"  >
                <td class="text-right"></td>
                <td class="text-right">{{sugMesima.kod_sug}}</td>
                  <td class="text-right">{{sugMesima.teur_sug}}</td>
              </tr>
          </ng-template>
      </p-table>

  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('empty')">Close</button>
  </div>

</ng-template>